.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-auto-rows: 50vh;
    gap: 1.5rem;
    margin-inline: 2vw;
    padding-block: 3vh;
}


.card {
    background-color: var(--clrTerciariaGuindo);
    display: flex;
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

.img:hover,
.img:focus {
    transform: scale(1.03);
    transition: 300ms ease-in-out;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 300ms ease-in-out;
    object-position: center;

}


@media only screen and (min-width: 1000px) {
    .cardLarge {
        grid-column: span 2 / auto;
    }
    .cardLong {
        grid-row: span 2 / auto;
        grid-column: span 1;
    }
    .cardWide {
        grid-column: span 2 / auto;
        grid-row: span 1;
    }

}