.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 100vh;
    margin-inline: 2vw;
}

.cardBody {
    text-align: center;
}

.card1,
.card2,
.card3,
.card4 {
    background-color: var(--clrTerciariaGuindo);
    display: flex;
    height: 18rem;
    border-radius: 0.7rem;
}

.card1 {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.card1 > .cardImg {
    width: auto;
    height: 60%;
}

.card2 {
    grid-column: 2 / span 2;
    height: 100%;
}
.card2 > .cardBody {
    width: 100%;
}
.card2 > .cardImg {
    width: 70%;
}


.card3 {
    grid-column: 1 / span 3;
    height: 100%;
    display: flex;
    align-items: space-between;
}
.card3 > .cardImg {
    width: 45%;
}

.card4 {
    grid-column: 4 /span 1;
    grid-row: 1 / span 2;
    height: 100%;
    flex-direction: column;
}

.card4 > .cardImg {
    height: 20rem;
    width: auto;
}

.cardTitle {
    color: #FFF;
    text-align: center;
}
.cardImg {
    background-color: var(--clrPrimariaGris);
}

.cardText {
    font-size: 0.8em;
    color: #FFF;
}

.cardBody {
    margin-block-start: 1rem;
    padding-inline: 2rem;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}