.bannerHero {
    background-image: url(../images/donationsBanner.JPG);
    width: 100vw;
    height:80vh;
    background-position: 25% 45%;
    background-size: cover;
}

.overlay {
    position: absolute;
    /* background-color: rgba(44, 66, 96, .72); */
    background-color: rgba(0,0,0,0.75);
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.group {
    grid-column: 3 / span 3;
    place-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline-end: 2rem;
}

.title {
    color: #FFF;
    font-size: 2.1em;
    text-align: left;
    margin-inline-start: 10vw;
    margin-block-start: 10vh;
    grid-column: span 3;

}

span {
    color: var(--clrPrimariaMagenta);
    margin: 0;
}

.text {
    color: #FFF;
    width: 30vw;
    text-align: right;

}

.btn {
    width: fit-content;
}


@media only screen and (max-width: 930px) {
    .title {
        margin-block-end: 1rem;
    }
    .group {
        grid-column: span 3;
        padding-inline: 0; 
    }
    .text {
        width: 80vw;
        text-align: center;
    }
}