.title {
    text-align: center;
    margin-block: 2rem;
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.img {
    width: 90%;
    height: 100%;
    margin-inline: 2rem;
    background-image: url(../images/QuienesSomos.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--clrPrimariaGris);
}

.text {
    flex-basis: 50%;
    height: 100%;
    text-align: justify;
    margin-inline-end: 2rem;
    font-size: 0.7em;
}

.container {
    margin-block-start: 90px;
    height: 100vh;
}

@media only screen and (max-width: 930px) {
    .img {
        grid-column: span 2 / auto;
    }
    .text {
        grid-column: span 2 / auto;
        margin-inline: 2rem;
    }
}