.container {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.animation {
    background-image: url(../images/Flor.png);
    width: 10rem;
    height: 10rem;
    background-size: contain;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}


@keyframes spin {
    from {
        transform: rotate(0deg);
        opacity: 0.1;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

