.logo {
    position: absolute;
    width: 15rem;
    max-height: min-content;
}

.navHeader {
    background-color: var(--clrNavBar);
    display: flex;
    position: absolute;
    width: 100vw;
    height: 90px;
    justify-content: space-between;
    padding-inline-end: 5vw;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 1.3rem;
    align-items: center;
    justify-content: space-between;
}

.navLink {
    text-decoration: none;
    font-size: 18px;
    color: var(--clrPrimariaGris)
}

.navLink:hover,
.navLink:focus {
    color: var(--clrPrimariaMagenta);
    cursor: pointer;
}

.navLink:active {
    background-color: var(--clrPrimariaGris);
    color: var(--clrPrimariaMagenta);
}

.button {
    display: none;
}

@media only screen and (max-width: 930px) {
    
    .navLinks {
        display: none;
    }
    .navLinksOpen {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        z-index: 9999;
        top: 90px;
        width: 100vw;
        height: 20vh;
        background-color: var(--clrNavBar);
        animation: growDown 300ms forwards linear;
        transform-origin: top center;
        border: none;
    }

    .navLinksClose {
        animation: growDown 300ms;
        animation-direction: reverse;

    }

    .navHeader {
        position: absolute;
        width: 100vw;
        height: 90px;
        z-index: 9998;
        overflow: visible;
        border: none;
    }

    .button {
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 90%;
        border: none;
        background-color: var(--clrNavBar);
        font-size: 1.3em;
        transition: all 200ms;
        color: var(--clrPrimariaMagenta);
    }

}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
