@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Montserrat&display=swap');
/*----- VARIABLES ----- */

:root {
  --clrNavBar: #F3F3F3;
  --clrPrimariaGris: #4D4D4D;
  --clrPrimariaMagenta: #E01970;
  --clrPrimariaAzul: #63EBE2;
  --clrSecundariaRosa: #EC4863;
  --clrSecundariaAmarillo: #FFBB0C;
  --clrSecundariaAmarilloHover: hsla(43, 100%, 52%, 0.884);
  --clrSecundariaAzulFuerte: #2C4260;
  --clrSecundariaMorado: #5C2849;
  --clrTerciariaGuindo: #A73E5C;
  --clrTerciariaSalmon: #EF664B;
  --clrTerciariaVerde: #75CC8E;
  --clrTerciariaGrisAzul: #87D6BC;
}

/* ----- RESET ----- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* ----- TIPOGRAFIA ----- */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--clrPrimariaGris);
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--clrNavBar);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--clrSecundariaMorado);
}